#!/usr/bin/env python
PACKAGE = "versaball"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

max_time = 10000

grasp_preparation = gen.add_group("Grasp preparation")
grasp_preparation.add("pg_start_pressure",       double_t, 0,
    "time to start pressure pump",  50, 0, max_time)
grasp_preparation.add("pg_open_presure_valve",   double_t, 0,
    "time to open pressure valve",  50, 0, max_time)
grasp_preparation.add("pg_close_pressure_valve", double_t, 0,
    "time to close pressure valve", 60, 0, max_time)
grasp_preparation.add("pg_stop_pressure",        double_t, 0,
    "time to stop pressure pump",   65, 0, max_time)

grasping = gen.add_group("Grasping")
grasping.add("g_start_void",           double_t, 0,
    "time to start void pump",     120, 0, max_time)
grasping.add("g_open_void_valve",      double_t, 0,
    "time to open void valve",     120, 0, max_time)
grasping.add("g_close_void_valve",     double_t, 0,
    "time to close void valve",    200, 0, max_time)
grasping.add("g_stop_void",            double_t, 0,
    "time to stop void pump",      200, 0, max_time)

release_g = gen.add_group("Release when grasping")
release_g.add("rg_start_pressure",       double_t, 0,
    "time to start pressure pump",     50, 0, max_time)
release_g.add("rg_open_presure_valve",   double_t, 0,
    "time to open pressure valve",     50, 0, max_time)
release_g.add("rg_open_void_valve",      double_t, 0,
    "time to open void valve",        120, 0, max_time)
release_g.add("rg_close_void_valve",     double_t, 0,
    "time to close void valve",       200, 0, max_time)
release_g.add("rg_stop_pressure",        double_t, 0,
    "time to stop pressure pump",     200, 0, max_time)
release_g.add("rg_close_pressure_valve", double_t, 0,
    "time to close pressure valve",   200, 0, max_time)

release_p = gen.add_group("Release when preparing grasp")
release_p.add("rp_open_presure_valve",   double_t, 0,
    "time to open pressure valve",  50, 0, max_time)
release_p.add("rp_open_void_valve",      double_t, 0,
    "time to open void valve",     120, 0, max_time)
release_p.add("rp_close_void_valve",     double_t, 0,
    "time to close void valve",    200, 0, max_time)
release_p.add("rp_close_pressure_valve", double_t, 0,
    "time to close pressure valve", 60, 0, max_time)

exit(gen.generate(PACKAGE, "versaball", "versaball"))