#!/usr/bin/env python
PACKAGE = "versaball"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("start_pressure",       double_t, 0, "time to start pressure pump (ms)",  50, 0, 5000)
gen.add("open_presure_valve",   double_t, 0, "time to open pressure valve (ms)",  50, 0, 5000)
gen.add("close_pressure_valve", double_t, 0, "time to close pressure valve (ms)", 60, 0, 5000)
gen.add("stop_pressure",        double_t, 0, "time to stop pressure pump (ms)",   65, 0, 5000)
gen.add("start_void",           double_t, 0, "time to start void pump (ms)",     120, 0, 5000)
gen.add("open_void_valve",      double_t, 0, "time to open void valve (ms)",     120, 0, 5000)
gen.add("close_void_valve",     double_t, 0, "time to close void valve (ms)",    200, 0, 5000)
gen.add("stop_void",            double_t, 0, "time to stop void pump (ms)",      200, 0, 5000)

exit(gen.generate(PACKAGE, "versaball", "versaball"))